@use "./variables.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}

body,
input {
  font-family: variables.$Body-font;
}
