@use "./mixins.scss";
@use "./variables.scss";

.header-content {
  width: 100%;
  height: 300px;

  background-image: url("../images/pattern-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include mixins.flexDisplay(flex, column, center, normal);

  position: relative;
  z-index: 2;

  @media (min-width: 800px) {
    height: 260px;
  }
}

.ip-header {
  @include mixins.flexDisplay(flex, column, center, center);

  width: 100%;
  gap: 1.3rem;
  margin-top: 30px;

  .ip-title {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;

    @media (min-width: 300px) {
      font-size: 1.6rem;
    }

    @media (min-width: 800px) {
      font-size: 2rem;
    }
  }

  .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    input {
      cursor: pointer;
      width: 58%;
      height: 60px;
      border: none;
      border-radius: 0.938rem 0 0 0.938rem;
      outline: none;
      padding-inline: 25px;
      font-size: 16px;

      @media (min-width: 300px) {
        font-size: variables.$Font-size-input;
      }

      @media (min-width: 758px) {
        width: 440px;
      }
    }

    input.error {
      border: 2px solid darkred;

      &::placeholder {
        color: darkred;
      }
    }

    button {
      cursor: pointer;
      border: none;
      background-color: variables.$Very-Dark-Gray;
      border-radius: 0 0.938rem 0.938rem 0;
      height: 60px;
      width: 60px;
      transition: 0.25s;

      &:hover {
        background-color: hsl(0, 0%, 27%);
      }
    }
  }
}

.ip-infos {
  @include mixins.flexDisplay(flex, column, center, center);

  gap: 1rem;
  width: 75%;
  text-align: center;
  background-color: #fff;
  border-radius: 0.938rem;
  padding-block: 1.3rem;
  padding-inline: 25px;

  position: absolute;
  top: 150px;

  margin-top: 20px;

  @media (min-width: 800px) {
    text-align: start;
    flex-direction: row;
    align-items: flex-start;
    padding-block: 1.6rem;
    top: 170px;

    > div {
      width: 100%;
      padding-inline: 12.5px;
      min-height: 85px;
      border-right: 1px solid #ccc;

      &:last-child {
        border: none;
      }
    }
  }

  @media (min-width: 1440px) {
    width: 1080px;
  }

  span {
    color: variables.$Dark-Gray;
    font-size: 0.6rem;
    letter-spacing: 2px;
    font-weight: 700;
    margin-block: 40px;

    @media (min-width: 1200px) {
      font-size: 0.7rem;
    }
  }

  h3 {
    margin-top: 8px;
    font-size: 1.25rem;

    @media (min-width: 1200px) {
      font-size: 1.55rem;
    }
  }
}
