@use "./variables.scss";

@use "./mixins.scss";

@use "./header.scss";

@use "./map.scss";

@use "./footer.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

body,
input {
  font-family: variables.$Body-font;
}
