@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

//  Colors
$Very-Dark-Gray: hsl(0, 0%, 17%);
$Dark-Gray: hsl(0, 0%, 59%);

// Typography
$Font-size-input: 1.125rem;

$Body-font: "Rubik", sans-serif;
